@cor-amarela: #d8b212;
@cor-amarela-clara: #e6c220;
@cor-amarelo-clarinho: #e9d78f;
@cor-branca: #fff;
@cor-branca-escura: darkgray;
@cor-cinza: #666;
@cor-roxa: #582985;
@cor-roxa-clara: #632b98;
@cor-roxa-link: #9442e2;
@cor-verde-claro: #0cb9b0;
@cor-verde-clarinho: #10ccc2;
@cor-verde-escuro: #097e74;
@font-padrao: 'Open Sans', sans-serif;

/* CopyRight de imagens */
.page-id-93::after, .page-id-140::after, .page-id-248::after {
  content: 'FOTO: MÍDIA NINJA';

  color: white;
  font-weight: bolder;
  transform: rotate(-90deg);
  position: fixed;
  right: 0;
  bottom: 7rem;
  font-size: .6rem;
}

@media screen and (max-width: 767px) {
  div.spacer {
    height: 15px;
  }
}
.ui-autocomplete-loading {
  background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}
#spinner-home {
  background-color: rgb(64, 64, 64);
  background-color: rgba(64, 64, 64, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#spinner {
  animation: spin 2s ease-in-out infinite;
  border-bottom: 3px solid @cor-branca;
  border-radius: 50%;
  border-top: 3px solid @cor-branca;
  height: 20px;
  left: 42%;
  position: relative;
  top: 38%;
  width: 20px;
}
h1, h2 {
  font-family: @font-padrao;
  font-weight: bolder;
  text-transform: uppercase;
}
.entry-title {
  font-size: 4rem;
  padding-bottom: 2em;
}
body .content .entry-title:after,
.page-id-140 .copyright {
  display: none;
}

/* Logo superior da página - Default AMARELO */
.navbar-brand {
  background-image: url('../images/logo-amarelo.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  text-indent: -9999px;
  width: 250px;
}

.navbar-default .navbar-nav > li {
  margin-left: 15px;
}


/*                         I N D I C E   -   H O M E                        */
/**
 * COnfigurações da página
 */
.page-id-140 {
  background-color: @cor-roxa;
  background-image: url(../images/HOME.jpg);
  background-position: bottom;
  background-repeat: repeat-y;
  background-size: cover;
}
/**
 * Configurações de menu
 */
.page-id-140>nav.navbar {
  background-color: @cor-roxa;
}
.page-id-140 .entry,
.page-id-140 .navbar-default li a,
.page-id-140 .navbar-default .navbar-nav > li > a,
.page-id-140 .navbar-default .navbar-nav > .active > a {
  color: @cor-branca;
}
.page-id-140 .navbar-default .navbar-nav > li > a:hover {
  border-color: @cor-amarela;
  color: @cor-amarela;
}
.page-id-140 .navbar-default .navbar-nav > .active > a,
.page-id-140 .navbar-default .navbar-nav > .active > a:hover {
  border-color: @cor-branca-escura;
  color: @cor-branca-escura;
}
/**
 * Copyright
 */
.page-id-140 .entry-title {
  display: none;
}
/**
 * Distribuição do quadro
 */
.page-id-140 .row.dados {
  margin-top: 5rem;
}
.page-id-140 .btn {
  background-color: @cor-amarela;
  color: @cor-roxa;
  font-weight: bolder;
  width: 100%;
}
.page-id-140 .btn:hover {
  background-color: @cor-amarela-clara;
  border-color: @cor-amarela-clara;
}
.page-id-140 .col-md-6.texto {
  padding-top: 3rem;
}
@media screen and (min-width: 1200px) {
  .page-id-140 .col-md-6.texto {
    padding-top: 6rem;
  }
}


/**              P À G I N A   E L E I T X              */
/**
 * Configuração da página
 */
.page-id-60 {
  background-color: @cor-amarela;
  background-image: url(../images/zig_zag.png);
}
/**
 * Configuração do menu
 */
.page-id-60>.navbar {
  background-color: @cor-amarela;
}
.page-id-60 .navbar-nav .menu-item a {
  color: @cor-branca;
}
/* Logo superior da página */
.page-id-60 .navbar-brand {
  background-image: url('../images/logo_horizon.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  text-indent: -9999px;
  width: 250px;
}
/**
 * Configuração do título
 */
.page-id-60 .entry-title {
  color: @cor-roxa;
  font-size: 6em;
  padding-top: 4rem;
}
/**
 * COnfiguração de conteúdo
 */
.page-id-60 .content {
  color: @cor-roxa;
  padding: 1rem 0 1.5rem 0;
}
/**
 * Tabela de eleitores
 */
.page-id-60 .eleitxs {
  border-collapse: separate;
  border-spacing: 1.5rem .5rem;
  width: 100%;
}
.page-id-60 .eleitxs>thead>tr {
  height: 4rem;
}
.page-id-60 .eleitxs>tbody td {
  background-color: @cor-roxa;
  border-radius: .35rem;
  color: @cor-branca;
  font-weight: bolder;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
.page-id-60 .eleitxs th>span {
  background-color: @cor-verde-claro;
  border-radius: .75rem;
  font-weight: bolder;
  padding: .75rem 2rem;
  text-transform: uppercase;
}
/**
 * Informações de copyright
 */
.page-id-60 .copyrightinfo,.page-id-60 .copyrightinfo a {
  color: @cor-branca;
  font-weight: 500;
  text-decoration: none;
}
.page-id-60 .copyrightinfo a:hover {
  text-decoration: underline;
}
/**
 * Botão de retorno para topo da página
 */
.page-id-60 .to-top {
  background-color: @cor-amarelo-clarinho;
  background-image: url(../images/ChevronTop.svg);
  background-position: 3px 3px;
  background-repeat: no-repeat;
  height: 25px;
  position: absolute;
  right: 0;
  width: 25px;
}
.page-id-60 .to-top>span {
  display: none;
}


/*                           P L A T A F O R M A   2 0 1 6                        */
/**
 * Fundo parte principal
 */
.page-id-104 {
  background-color: @cor-verde-claro;
  color: @cor-branca;
}
/**
 * Título
 */
.page-id-104 .entry-title {
  color: @cor-roxa;
}
/**
 * Menus
 */
.page-id-104>nav.navbar {
  background-color: @cor-verde-claro;
  color: @cor-branca;
}
.page-id-104 .navbar-default li a,
.page-id-104 .navbar-default .navbar-nav > li > a,
.page-id-104 .navbar-default .navbar-nav > .active > a {
  color: @cor-branca;
}
/**
 * Dados de Copyright, parte de baixo
*/
.page-id-104 .copyright,
.page-id-104 .copyrightinfo {
  background-color: @cor-roxa;
  color: @cor-branca;
}
.page-id-104 .copyrightinfo a {
  color: @cor-branca;
  font-weight: 500;
  text-decoration: none;
}
.page-id-104 .copyrightinfo a:hover {
  text-decoration: underline;
}


/*                                 Q U E M   S O M O S                          */
/**
 * Conteúdo da página
 */
.page-id-114 .expansao img {
  opacity: .2;
  display: inline-block;
  width: 13rem;
}
.page-id-114 .expansao a img {
  opacity: 1;
}
.page-id-114 .parc>div {
  display: inline-block;
  padding-right: 2em;
}
.page-id-114 .parc {
  padding-left: 3em;
}
.page-id-114 {
  background-color: @cor-roxa;
  color: @cor-branca;
  min-width: 300px;
}
/* link de contato */
.page-id-114 .contato {
  color: @cor-amarela;
}
/* Todo conteúdo é recuado. */
.page-id-114 p,
.page-id-114 h2,
.page-id-114 h3,
.page-id-114 h4,
.page-id-114 ul {
  padding-left: 5rem;
}
/* Final deve grudar com a barra de copyright */
.page-id-114 .content {
  padding-bottom: 0;
}
/**
 * Barra de menu
 */
.page-id-114>nav.navbar {
  background-color: @cor-roxa;
}
.page-id-114 .navbar-default li a,
.page-id-114 .navbar-default .navbar-nav > li > a {
  color: @cor-branca;
}
.page-id-114 .navbar-default .navbar-nav > li > a:hover {
  border-color: @cor-amarela;
  color: @cor-amarela;
}
.page-id-114 .navbar-default .navbar-nav > .active > a,
.page-id-114 .navbar-default .navbar-nav > .active > a:hover {
  border-color: @cor-branca-escura;
  color: @cor-branca-escura;
}
/**
 * Título principal
 */
.page-id-114 .entry-title {
  color: @cor-amarela;
}
/**
 * Expansões
 */
.page-id-114 .expansao {
  position: relative;
}
.page-id-114 .expansao>div {
  display: grid;
  position: relative;
  width: 100%;
}
.page-id-114 .expansao>.ano2017 {
  background-color: @cor-amarela;
  color: @cor-branca;
}
.page-id-114 .expansao>.ano2018 {
  background-color: @cor-verde-claro;
  color: @cor-branca;
}
.page-id-114 .btn {
  color: @cor-amarela;
  background-color: @cor-roxa;
  font-weight: bolder;
}
.page-id-114 .expansao::before {
  background-color: white;
  bottom: 0;
  content: '';
  left: 1rem;
  position: absolute;
  top: 11rem ;
  width: 3px;
  z-index: 15;
}
@media screen and (min-width: 631px) {
  .page-id-114 .expansao::before {
    top: 9rem ;
  }
}
@media screen and (min-width: 619px) {
  .page-id-114 .expansao::before {
    top: 6rem ;
  }
}
.page-id-114 .expansao>.ano2016::before {
  background-color: white;
  border-radius: 50%;
  content: '';
  height: 10px;
  left: .7rem;
  position: absolute;
  top: 2rem;
  width: 10px;
  z-index: 15;
}
.page-id-114 .expansao>.ano2017::before,
.page-id-114 .expansao>.ano2018::before {
  background-color: white;
  content: '';
  height: 2px;
  left: 1rem;
  position: absolute;
  top: 2.3rem;
  width: 3rem;
}


/*                  C O N S T R U A   C O M   A   G E N T E               */
/**
 * Conteúdo
 */
.page-id-93 {
  background-color: @cor-verde-claro;
  background-image: url(../images/FALE-COM-A-GENTE.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: @cor-roxa;
}
/* Título */
.page-id-93 .entry-title {
  color: @cor-roxa;
}
/**
 * Menu
 */
.page-id-93>.navbar {
  background-color: @cor-verde-claro;
}
.page-id-93 .navbar-default li a,
.page-id-93 .navbar-default .navbar-nav > li > a {
  color: @cor-branca;
}
.page-id-93 .navbar-default .navbar-nav > li > a:hover {
  border-color: @cor-amarela;
  color: @cor-amarela;
}
.page-id-93 .navbar-default .navbar-nav > .active > a,
.page-id-93 .navbar-default .navbar-nav > .active > a:hover {
  border-color: #666;
  color: #666;
}
/* Copyright */
.page-id-93 .copyright,
.page-id-93 .copyright a,
.page-id-93 .copyright .copyrightinfo {
  background-color: @cor-roxa;
  color: @cor-branca;
}
/**
 * Formulário
 */
.page-id-93 form label {
  text-transform: uppercase;
  width: 100%;
}
.page-id-93 form .form-control {
  background-color: transparent;
  border-color: @cor-roxa;
  border-style: solid;
  border-radius: .25rem;
}
.page-id-93 form .contribuicoes,
.page-id-93 form .pautas {
  padding: 4em 0 2em 0;
}
.page-id-93 form label>input[type=checkbox]+input {
  display: inline-block;
  background-color: @cor-verde-claro;
}
.page-id-93 form label>input[type=checkbox]:checked+input {
  background-color: transparent;
}
.page-id-93 form .btn {
  background-color: @cor-amarela;
  color: @cor-roxa;
  font-weight: bolder;
  min-width: 10ch;
  text-transform: uppercase;
  width: 60%;
}
.page-id-93 form>div.envia {
  text-align: center;
}


/*                              T R A N S P A R Ê N C I A                         */
.page-id-14 {
  background-color: @cor-verde-claro;
  color: @cor-branca;
}
/* Título da página */
.page-id-14 .entry-title {
  color: @cor-roxa;
}
/**
 * Menu
 */
.page-id-14>.navbar {
  background-color: @cor-verde-claro;
}
.page-id-14 .navbar-default li a,
.page-id-14 .navbar-default .navbar-nav > li > a {
  color: @cor-branca;
}
.page-id-14 .navbar-default .navbar-nav > li > a:hover {
  border-color: @cor-amarela;
  color: @cor-amarela;
}
.page-id-14 .navbar-default .navbar-nav > .active > a {
  border-color: @cor-cinza;
  color: @cor-cinza;
}
/**
 * Botões
 */
.page-id-14 .links-rel a.btn {
  background-color: @cor-amarela;
  color: @cor-roxa;
  font-weight: bolder;
  width: 60%;
}
.page-id-14 .links-rel a.btn:hover {
  background-color: @cor-amarela-clara;
}
.page-id-14 .links-rel {
  padding-bottom: 3rem;
}
.page-id-14 .links-rel>div {
  text-align: center;
}
/**
 * Copyright
 */
.page-id-14 .copyright,
.page-id-14 .copyright a,
.page-id-14 .copyright .copyrightinfo {
  background-color: @cor-roxa;
  color: @cor-branca;
}
.page-id-14 .entry li {
  padding-bottom: 2rem;
}
.page-id-14 .entry h1 {
  margin-top: 4rem;
}


/*                             C L I P P I N G                            */
.page-id-90,
.page-id-90>nav.navbar {
  background-color: @cor-branca;
}
.page-id-90 .entry {
  color: @cor-roxa;
}
.page-id-90 .navbar-default li a,
.page-id-90 .navbar-default .navbar-nav > li > a,
.page-id-90 .navbar-default .navbar-nav > .active > a {
  color: @cor-roxa;
}
.page-id-90 .entry-title,
.page-id-90 a.contato {
  color: @cor-verde-claro;
}
.page-id-90 .copyright,
.page-id-90 .copyright a,
.page-id-90 .copyright .copyrightinfo {
  background-color: @cor-roxa;
  color: @cor-branca;
}
.page-id-90 {
  .navbar-default .navbar-nav > li {
    margin-left: 20px;
  }
  h2, h3, h4, h5 {
    color: @cor-roxa;
    text-transform: uppercase;
  }
  p {
    color: @cor-roxa;
  }
  #page-clipping {
    padding-top: 80px;
  }
  .panel-default {
    border-color: #fff;
  }
}

/*                         Q U E M   T E   R E P R E S E N T A                       */
/*
   Fundo branco
*/
@media screen and (min-width: 768px) {
  .page-id-6 .spacer {
    height: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .page-id-6 .spacer {
    height: 100px;
  }
}
.page-id-6,
.page-id-6>nav.navbar {
  background-color: @cor-branca;
}
.page-id-6,
.page-id-6 a {
  color: @cor-roxa;
}
.page-id-6 .navbar-default li a,
.page-id-6 .navbar-default .navbar-nav > li > a,
.page-id-6 .navbar-default .navbar-nav > .active > a {
  color: @cor-roxa;
}


/*                         P Á G I N A   D E   P E S Q U I S A   1                    */
/**
 * Corpo
 */
.page-id-6 .enfase {
  font-weight: bolder;
  text-transform: uppercase;
}
.page-id-6 #filtro_genero .frm-label>a,
.page-id-6 #filtro_cor .frm-label>a {
  text-decoration: underline;
  color: @cor-roxa;
}
.page-id-6 #filtro_genero .frm-label>a:hover,
.page-id-6 #filtro_cor .frm-label>a:hover {
  text-decoration: underline;
  color: @cor-amarela;
}
/**
 * Controle da aparição das mensagens no topo
 */
.page-id-6 p.pesquisa,
.page-id-6.resposta p.resposta,
.page-id-6.resposta.resposta-vazia div.resposta-em-branco {
  display: block;
}
.page-id-6 p.resposta,
.page-id-6.resposta.resposta-vazia p.resposta,
.page-id-6 div.resposta-em-branco,
.page-id-6.resposta p.pesquisa {
  display: none;
}
/**
 * Substitui os checkboxes pelas imagens
 */
.page-id-6 .corpo input[type='checkbox'] {
  display: none;
}
.page-id-6 .corpo #cidades-escolhidas input[type='checkbox'] {
  display: inline-block;
}
.page-id-6 .corpo input[type='checkbox'] + span {
  text-transform: uppercase;
}
.page-id-6 .corpo input[type='checkbox'] + span::before {
  content: '';
  background-image: url('../images/aberto.svg');
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}
.page-id-6 .corpo input[type='checkbox']:checked + span::before {
  background-image: url('../images/fechado.svg');
}
/* labels dos campos */
.page-id-6 .frm-label {
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 1.20px;
  margin-top: 3rem;
  text-transform: uppercase;
}
/* Componetes de input iguais */
.page-id-6 .form-control {
  border-color: @cor-roxa;
  border-radius: 0.25rem;
  color: @cor-roxa;
}
/**
 * Botão de submissão
 */
.page-id-6 .btn {
  background-color: @cor-roxa;
  color: @cor-branca;
  width: 75%;
  display: inline-block;
}
.page-id-6 .btn:hover {
  background-color: @cor-roxa-link;
}
.page-id-6 div.div-botao {
  margin: 3rem 0px;
  text-align: center;
}
.page-id-6 #filtro_pauta>label {
  padding-left: 33%;
}
/*                         P Á G I N A   D E   P E S Q U I S A   2                    */
/**
 * Corpo
 */
.page-id-6.resposta .navbar-brand {
  background-image: url('../images/logo_horizon.png');
}
.page-id-6.resposta .panel-body .data_situacao_cadastral {
  text-transform: capitalize;
}
.page-id-6.resposta {
  background-color: @cor-amarela;
  color: @cor-roxa;
}
.page-id-6.resposta .form-control {
  background-color: @cor-amarela;
}
/**
 * Barra de navegação
 */
.page-id-6.resposta .navbar {
  background-color: @cor-amarela;
  color: @cor-branca;
}
/*
 * Candidatos pesquisados
 */
.page-id-6 #dados_filtrados .panel {
  border-color: @cor-roxa;
}
.page-id-6 #dados_filtrados .panel-body {
  background-color: @cor-roxa;
  color: @cor-branca;
}
.page-id-6 #dados_filtrados .panel-body:hover {
  background-color: @cor-roxa-clara;
}
.page-id-6 #dados_filtrados .panel.eleito {
  border-color: @cor-verde-claro;
}
.page-id-6 #dados_filtrados .panel.eleito .panel-body {
  background-color: @cor-verde-claro;
}
.page-id-6 #dados_filtrados .panel.eleito .panel-body:hover {
  background-color: @cor-verde-clarinho;
}
.page-id-6 #dados_filtrados .panel-body a {
  color: @cor-branca;
  text-decoration: underline;
  text-transform: uppercase;
}
#dados_filtrados .panel>a:hover {
  text-decoration: none;
}
/**
 * Elementos de paginação
 */
.page-id-6 .container .pagination>li>a {
  background-color: @cor-verde-escuro;
  border-color:  @cor-amarela-clara;
  color: @cor-branca;
}
.page-id-6 .container .pagination>li>a:hover {
  background-color: @cor-verde-claro;
  border-color: @cor-amarela-clara;
}
.page-id-6 .container .pagination>li.active>a {
  background-color: @cor-roxa;
}
/* Botão download */
.page-id-6 #dados_filtrados>.btn {
  background-color: @cor-verde-escuro;
  border-color: @cor-verde-escuro;
  color: #fff;
  font-weight: bold;
  min-width: 150px;
  width: 20%;
}
/**
 * Mensagem de não encontrado
 */
.page-id-6 .resposta-em-branco>.alerta {
    text-align: justify;
}
.page-id-6 .resposta-em-branco {
    text-align: center;
}



/* P Á G I N A   D E   C A N D I D A T O S */
/**
 * Conteúdo
 */
.page-id-20 {
  background-color: @cor-amarela;
  background-image: url(../images/zig_zag.png);
}
.page-id-20 .navbar-brand {
  background-image: url('../images/logo_horizon.png');
}
/**
 * Menu
 */
.page-id-20 .navbar {
  background-color: @cor-amarela;
}
.page-id-20 .navbar-default .navbar-nav > li {
  margin-left: 20px;
}
.page-id-20 .navbar-nav .menu-item a {
  color: @cor-branca;
}
/**
 * Conteúdo
 */
.page-id-20 .img-circle {
  margin: 25px;
}
.page-id-20 .info-text.name {
  font-size: 36px;
  padding: 0 50px 0 0;
}
.page-id-20 .info-text {
  color: @cor-branca;
  font-size: 18px;
}
.page-id-20 .bio-header {
  color: @cor-roxa;
  text-transform: uppercase;
}
.page-id-20 .bio-header .bio-txt {
  padding-top: 20px;
}
.page-id-20 .bio-header .bio-txt h1 {
  font-weight: 700;
}
.page-id-20 .bio-header .bio-txt h2 {
  font-size: 24px;
  margin-top: 5px;
}
.page-id-20 .bio-header span.badge-default {
  background-color: @cor-roxa;
  border-radius: 5px;
  color: @cor-branca;
  padding: 10px 20px;
}
.page-id-20 .bio {
  background-color: @cor-verde-claro;
  color: @cor-branca;
  margin-bottom: 90px;
  padding: 100px 60px;
}
.page-id-20 h3 {
  color: @cor-roxa;
}
.page-id-20 .respostas table {
  border-collapse: unset;
  border-spacing: 12px;
  padding-top: 5px;
}
.page-id-20 td {
  background-color: @cor-roxa;
  /*border: 2px solid @cor-branca;*/
  border-radius: 10px;
  color: @cor-branca;
  padding: 10px;
  text-transform: uppercase;
}
.page-id-20 td.nao {
  background-color: @cor-amarela;
  color: @cor-roxa;
}

.page-id-20 .can-pic {
  margin: 25px;
}
.page-id-20 .copyright {
  background-color: @cor-amarela;
}
@media (max-width: 640px) {
  .container.corpo {
    margin-top: 0;
  }
  .page-id-20 .bio {
    margin-bottom: 30px;
    padding: 0 15px;
  }
}


/*        P Á G I N A   D E   E M A I L   E N V I A D O   C O M   S U C E S S O        */
.page-id-231 {
  background-color: @cor-verde-claro;
  background-image: url(../images/FALE-COM-A-GENTE.jpg);
  background-position: bottom;
  background-repeat: repeat-y;
  background-size: cover;
  color: @cor-roxa;
}
.page-id-231>nav.navbar {
  background-color: @cor-verde-claro;
}

.page-id-231 .entry-title {
  display: none;
}
.page-id-231 .agradecimento {
  font-size: 4rem;
  text-align: center;
  font-weight: bolder;
}
.page-id-231 .mensagem {
  font-size: 2rem;
}
/**
 * Informações de copyright
 */
.page-id-231 .copyright,.page-id-231 .copyrightinfo,.page-id-231 .copyrightinfo a {
  background-color: @cor-roxa;
  color: @cor-branca;
  font-weight: 500;
  text-decoration: none;
}
.page-id-231 .copyrightinfo a:hover {
  text-decoration: underline;
}
