@cor-amarela: #d8b212;
@cor-roxa: #582985;
@cor-branca: #fff;
@cor-verde-claro: #0cb9b0;
@font-padrao: 'Open Sans', sans-serif;

h2.entry-title, h1, h2 {
  text-transform: uppercase;
  font-weight: bolder;
  font-family: @font-padrao;
}
.page h2 {
  font-size: 1.5rem;  
}
h2.entry-title {
  font-size: 3rem;  
  padding-bottom: 2em;
}
body .content .entry-title:after,
body.page-id-140 section.copyright {
  display: none;
}

/*
   Fundo Roxo
*/

body.page-id-114,
body.page-id-114>nav.navbar,
body.page-id-140,
body.page-id-140>nav.navbar {
  background-color: @cor-roxa;  
}
body.page-id-114 .entry,
body.page-id-140 .entry {
  color: @cor-branca;
}
body.page-id-114 .navbar-brand,
body.page-id-140 .navbar-brand {
  width: 250px;
  height: 25px;
  background-image: url('../images/logo-amarelo.png');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
body.page-id-114 .navbar-default li a,
body.page-id-114 .navbar-default .navbar-nav > li > a, 
body.page-id-114 .navbar-default .navbar-nav > .active > a,
body.page-id-140 .navbar-default li a,
body.page-id-140 .navbar-default .navbar-nav > li > a, 
body.page-id-140 .navbar-default .navbar-nav > .active > a {
  color: @cor-branca;  
}
body.page-id-114 .entry-title,
body.page-id-114 a.contato {
  color: @cor-amarela;
}


/*
   Fundo verde claro
*/
body.page-id-14,
body.page-id-14>nav.navbar,
body.page-id-93,
body.page-id-93>nav.navbar {
  background-color: @cor-verde-claro;  
}
body.page-id-14 .entry {
  color: @cor-branca;
}
body.page-id-14 .navbar-brand,
body.page-id-93 .navbar-brand {
  width: 250px;
  height: 25px;
  background-image: url('../images/logo-amarelo.png');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
body.page-id-14 .navbar-default li a,
body.page-id-14 .navbar-default .navbar-nav > li > a, 
body.page-id-14 .navbar-default .navbar-nav > .active > a,
body.page-id-93 .navbar-default li a,
body.page-id-93 .navbar-default .navbar-nav > li > a, 
body.page-id-93 .navbar-default .navbar-nav > .active > a {
  color: @cor-branca;  
}
body.page-id-14 .entry-title,
body.page-id-14 a.contato,
body.page-id-93 .entry-title,
body.page-id-93 a.contato {
  color: @cor-roxa;
}
body.page-id-14 .copyright, 
body.page-id-14 .copyright a, 
body.page-id-14 .copyright .copyrightinfo {
  background-color: @cor-roxa;
  color: @cor-branca;
}

/*
   Fundo branco
*/
body.page-id-90,
body.page-id-90>nav.navbar {
  background-color: @cor-branca;  
}
body.page-id-90 .entry,
body.page-id-93 .entry {
  color: @cor-roxa;
}
body.page-id-90 .navbar-brand {
  width: 250px;
  height: 25px;
  background-image: url('../images/logo-amarelo.png');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
body.page-id-90 .navbar-default li a,
body.page-id-90 .navbar-default .navbar-nav > li > a, 
body.page-id-90 .navbar-default .navbar-nav > .active > a {
  color: @cor-roxa;  
}
body.page-id-90 .entry-title,
body.page-id-90 a.contato {
  color: @cor-verde-claro;
}
body.page-id-90 .copyright, 
body.page-id-90 .copyright a, 
body.page-id-90 .copyright .copyrightinfo,
body.page-id-93 .copyright, 
body.page-id-93 .copyright a, 
body.page-id-93 .copyright .copyrightinfo {
  background-color: @cor-roxa;
  color: @cor-branca;
}



/* Exclusivo Quem somos */
body.page-id-114 a.contato {
  color: #d8b212;
}
body.page-id-114 .expansao>h1,
body.page-id-114 .expansao>.ano2018>h3 {
  text-transform: uppercase;
}
body.page-id-114 .expansao>.ano2016 {
  color: @cor-amarela;
}
body.page-id-114 .expansao>.ano2017 {
  background-color: @cor-amarela;
  color: @cor-branca;
}
body.page-id-114 .expansao {
  display: grid;
}
body.page-id-114 .expansao>div {
  position: relative;
  min-height: 100px;
  padding: 0 0 8em 1em;
  display: grid;

}
body.page-id-114 .expansao>.ano2016>h2, 
body.page-id-114 .expansao>.ano2017>h2,
body.page-id-114 .expansao>.ano2018>h2 {
  font-weight: bold;
  font-size: 8em;
  position: absolute;
  bottom: -.16em;
  left: 1em;
  margin-bottom: 0px;
}
body.page-id-114 .expansao>.ano2018 {
  background-color: @cor-branca;
  color: @cor-verde-claro;
}
body.page-id-114 .content {
  margin-bottom: 0px;
  padding-bottom: 0px;
}


/* Exclusivo Política de privaxidade */
body.page-id-14 .entry li {
  padding-bottom: 2rem;
}
body.page-id-14 .links-rel a.btn {
  background-color: @cor-amarela;
  color: @cor-roxa;
  font-weight: bolder;
  width: 60%;
}
body.page-id-14 .links-rel>div {
  text-align: center;
}
body.page-id-14 .links-rel {
  padding-bottom: 3rem;
}
body.page-id-14 .entry h1 {
  margin-top: 4rem;
}


/* Contrua com a gente */
body.page-id-93 {
    background-image: url(../images/IMAGEM-CONTATO.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
body.page-id-93 .wpcf7-form label {
  text-transform: uppercase;
  width: 100%;
}
body.page-id-93 .wpcf7-form .form-control {
  border-style: single;
  border-color: @cor-roxa;
  background-color: transparent;
  border-radius: .25rem;
}
body.page-id-93 .wpcf7-form .btn {
  color: @cor-roxa;
  background-color: @cor-amarela;
  font-weight: bolder;
  text-transform: uppercase;
  min-width: 10ch;
  width: 60%;
}
body.page-id-93 .wpcf7-form>div.envia {
  text-align: center;
}


/* Página inicial */
body.page-id-140 {
    background-image: url(../images/IMAGEM-HOME.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
body.page-id-140 h2.entry-title {
  display: none;
}
body.page-id-140 .row.dados {
  margin-top: 5rem;
}
body.page-id-140 a.btn {
  width: 100%;
  background-color: @cor-amarela;
  color: @cor-roxa;
  font-weight: bolder;
}
body.page-id-140 .col-md-6.texto {
  padding-top: 3rem;
}
@media screen and (min-width: 1200px) {
  body.page-id-140 .col-md-6.texto {
    padding-top: 6rem;
  }
}