@cor-amarela: #d8b212;
@cor-amarela-clara: #e6c220;
@cor-amarelo-clarinho: #e9d78f;
@cor-branca: #fff;
@cor-branca-escura: darkgray;
@cor-cinza: #666;
@cor-roxa: #582985;
@cor-roxa-clara: #632b98;
@cor-roxa-link: #9442e2;
@cor-verde-claro: #0cb9b0;
@cor-verde-clarinho: #10ccc2;
@cor-verde-escuro: #097e74;
@font-padrao: 'Open Sans', sans-serif;

/* Checkboxes */
@chk_open: '../images/chk_aberto.svg';
@chk_closed: '../images/chk_fechado.svg';

/* CopyRight de imagens */
.page-id-93::after, .page-id-140::after, .page-id-248::after {
  content: 'FOTO: MÍDIA NINJA';

  color: white;
  font-weight: bolder;
  transform: rotate(-90deg);
  position: fixed;
  right: 0;
  bottom: 7rem;
  font-size: .6rem;
}

@media screen and (max-width: 767px) {
  div.spacer {
    height: 15px;
  }
}
.ui-autocomplete-loading {
  background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}
#spinner-home {
  background-color: rgb(64, 64, 64);
  background-color: rgba(64, 64, 64, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#spinner {
  animation: spin 2s ease-in-out infinite;
  border-bottom: 3px solid @cor-branca;
  border-radius: 50%;
  border-top: 3px solid @cor-branca;
  height: 20px;
  left: 42%;
  position: relative;
  top: 38%;
  width: 20px;
}
h1, h2 {
  font-family: @font-padrao;
  font-weight: bolder;
  text-transform: uppercase;
}
.entry-title {
  font-size: 4rem;
  padding-bottom: 10px;
}
body .content .entry-title:after,
.page-id-140 .copyright {
  display: none;
}

/* Logo superior da página - Default AMARELO */
.navbar-brand {
  background-image: url('../images/logo-amarelo.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  text-indent: -9999px;
  width: 250px;
}

.navbar-default .navbar-nav > li {
  margin-left: 15px;
}


@import 'parts/home';
@import 'parts/eleitxs';
@import 'parts/plataforma2016';
@import 'parts/quemsomos';
@import 'parts/construaconosco';
@import 'parts/transparencia';
@import 'parts/clipping';
@import 'parts/quemterepresenta';
@import 'parts/candidatos';








/*        P Á G I N A   D E   E M A I L   E N V I A D O   C O M   S U C E S S O        */
.page-id-231 {
  background-color: @cor-verde-claro;
  background-image: url(../images/FALE-COM-A-GENTE.jpg);
  background-position: bottom;
  background-repeat: repeat-y;
  background-size: cover;
  color: @cor-roxa;
}
.page-id-231>nav.navbar {
  background-color: @cor-verde-claro;
}

.page-id-231 .entry-title {
  display: none;
}
.page-id-231 .agradecimento {
  font-size: 4rem;
  text-align: center;
  font-weight: bolder;
}
.page-id-231 .mensagem {
  font-size: 2rem;
}
/**
 * Informações de copyright
 */
.page-id-231 .copyright,.page-id-231 .copyrightinfo,.page-id-231 .copyrightinfo a {
  background-color: @cor-roxa;
  color: @cor-branca;
  font-weight: 500;
  text-decoration: none;
}
.page-id-231 .copyrightinfo a:hover {
  text-decoration: underline;
}
